---
layout: layout-sidebar
order: 15
name: Record page
---

<h1>{{ name }}</h1>

<div class="bb-text-block">
    <div class="page-example"><img src="/assets/img/patterns/record page.png" /></div>
    <h2>Page summary</h2>
    <p>
    The <a href="../page-summary/">page summary </a> is required on a record page. It should be used to show identifying and other critical information related to the record. 
    </p>
    <h2>Tiles</h2>
    <p>
    Information related to a record is contained in <a href="../../components/tile">tiles</a>. The top tile on a page may be full width if necessary. Remaining tiles should be half width. 
    </p>
    <h2>Related patterns</h2>
    <ul>
        <li><a href="../tiles/">Tiles</a></li>
    </ul>
</div>