---
name: Label
description: Label styling to call out important status information.
---

<h1 class="bb-page-heading">Labels</h1>

<p>While we use the Bootstrap convention for labels, our guideline is to use only four of the sub-classes as a way to convey the status of the label contents.</p>

<div class="definition-table" style="display: flex; border-bottom: 1px dotted #ccc;">
    <div class="definition-item" style="width: 100px; margin: 10px 10px 10px 0;">
        <div class="label label-success">Success</div>
    </div>
    <div class="item-properties" style="display: flex; flex-wrap: wrap;">
        <div class="definition-usage" style="flex: 1; width: 200px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Usage</div>
            <p>This is used to convey a good status.</p>
        </div>
        <div class="definition-code" style="width: 200px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Code</div>
            <div><code>&lt;div class="label label-success"&gt;Success&lt;/div&gt;</code></div>
        </div>
    </div>
</div>

<div class="definition-table" style="display: flex; border-bottom: 1px dotted #ccc;">
    <div class="definition-item" style="width: 100px; margin: 10px 10px 10px 0;">
        <div class="label label-info">Info</div>
    </div>
    <div class="item-properties" style="display: flex; flex-wrap: wrap;">
        <div class="definition-usage" style="flex: 1; width: 200px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Usage</div>
            <p>This is used to convey a status that is neutral.</p>
        </div>
        <div class="definition-code" style="width: 200px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Code</div>
            <div><code>&lt;div class="label label-info"&gt;Info&lt;/div&gt;</code></div>
        </div>
    </div>
</div>

<div class="definition-table" style="display: flex; border-bottom: 1px dotted #ccc;">
    <div class="definition-item" style="width: 100px; margin: 10px 10px 10px 0;">
        <div class="label label-warning">Warning</div>
    </div>
    <div class="item-properties" style="display: flex; flex-wrap: wrap;">
        <div class="definition-usage" style="flex: 1; width: 200px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Usage</div>
            <p>This is used to convey a status that indicates something may be going wrong and probably worth the user taking a deeper look.</p>
        </div>
        <div class="definition-code" style="width: 200px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Code</div>
            <div><code>&lt;div class="label label-warning"&gt;Warning&lt;/div&gt;</code></div>
        </div>
    </div>
</div>

<div class="definition-table" style="display: flex; border-bottom: 1px dotted #ccc;">
    <div class="definition-item" style="width: 100px; margin: 10px 10px 10px 0;">
        <div class="label label-danger">Danger</div>
    </div>
    <div class="item-properties" style="display: flex; flex-wrap: wrap;">
        <div class="definition-usage" style="flex: 1; width: 200px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Usage</div>
            <p>This is used to convey a status that indicates something is very wrong and that the user should take action.</p>
        </div>
        <div class="definition-code" style="width: 200px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Code</div>
            <div><code>&lt;div class="label label-danger"&gt;Danger&lt;/div&gt;</code></div>
        </div>
    </div>
</div>
