---
name: Label
description: Label styling to call out important status information.
---

<h1 class="bb-page-heading">Labels</h1>

<p>While we use the Bootstrap convention for labels, our guideline is to use only four of the sub-classes as a way to convey the status of the label contents.</p>

<h2 class="bb-section-heading">label-success</h2>
<div class="label label-success">Success</div>
<div><code>&lt;div class="label label-success"&gt;Success&lt;/div&gt;</code></div>
<div class="bb-subsection-heading">Usage</div>
<p>This is used to convey a good status.</p>

<h2 class="bb-section-heading">label-info</h2>
<div class="label label-info">Info</div>
<div><code>&lt;div class="label label-info"&gt;Info&lt;/div&gt;</code></div>
<div class="bb-subsection-heading">Usage</div>
<p>This is used to convey a status that is neutral.</p>

<h2 class="bb-section-heading">label-warning</h2>
<div class="label label-warning">Warning</div>
<div><code>&lt;div class="label label-warning"&gt;Warning&lt;/div&gt;</code></div>
<div class="bb-subsection-heading">Usage</div>
<p>This is used to convey a status that indicates something may be going wrong and probably worth the user taking a deeper look.</p>

<h2 class="bb-section-heading">label-danger</h2>
<div class="label label-danger">Danger</div>
<div><code>&lt;div class="label label-danger"&gt;Danger&lt;/div&gt;</code></div>
<div class="bb-subsection-heading">Usage</div>
<p>This is used to convey a status that indicates something is very wrong and that the user should take action.</p>