---
name: Labels
description: Label styling to call out important status information.
layout: layout-container
items:
  - name: Success
    usage: This is used to convey a good status.
    code: <span class="label label-success">Success</span>

  - name: Info
    usage: This is used to convey a status that is neutral.
    code: <span class="label label-info">Info</span>

  - name: Warning
    usage: This is used to convey a status that indicates something may be going wrong and probably worth the user taking a deeper look.
    code: <span class="label label-warning">Warning</span>

  - name: Danger
    usage: These have similar usage to link buttons, with altered styling to fit inline.
    code: <span class="label label-danger">Danger</span>
---

{{ include 'includes/layout-components-ux.hbs' }}
