---
layout: layout-sidebar
order: 3
name: List page
description: "List page blurb..."
---

<h1>{{ name }}</h1>

<div class="bb-text-block">
    <div class="page-example"><img src="/assets/img/patterns/list page.png" /></div>
    <h2>Page summary</h2>
    <p>
    The <a href="../page-summary/">page summary</a> is optional on list pages. Often they are not needed but for number-oriented lists can be used to display summary numbers, graphs or other indicators.
    </p>
    <h2>List</h2>
    <p>
    The <a href="../../../references/components/grid/">list</a> can contain any information needed to support the tasks being designed for. 
    </p>
</div>