---
layout: layout-sidebar
order: 5
name: Page summary
description: "Page summary blurb..."
---

<h1>{{ name }}</h1>

<div class="bb-text-block">
    <p>
    The page summary should contain critical information and actions that need to be accessed quickly and frequently. The summary components described here are all optional - the exact content will depend on the type of page and the scenario being designed for.
    </p>
    <div class="page-example"><img src="/assets/img/patterns/page summary.png" /></div>
    <h2>1. Record title and subtitle</h2>
    <p>
    The data used in the title should be chosen so that it is understandable to the user and uniquely identifies the record. There may be multiple pieces of data that could be used or combined - the correct data to use will depend on your understanding of your users and the context in which they are visiting the page. If you have two pieces of data that can be used to identify a record, you can use both a title and a subtitle. A common case for this would be if a record has a natural language name as well as a system-generated or coded identifier.
    </p>
    <h2>2. Image</h2>
    <p>
    An image may be used if it will help the user quickly identify the record or complete a core task. Images used only for decorative purposes are likely to be distracting and interfere with task completion.
    </p>
    <h2>3. Record status</h2>
    <p>
    Important information about the status of a record can be shown in a <a href="../../../references/components/label">label</a>.
    </p>
    <h2>4. Key information</h2>
    <p>
    Often a core task can be addressed by highlighting a few pieces of key information. While this content can be arbitrary a common example would be using a <a href="../../references/components/key-info">key information block</a> to highlight some important summary numbers.
    </p>
    <h2>5.Arbitrary content</h2>
    <p>
    The content you put in the record summary should support the key tasks of the user visiting the page and account for the context in which the information will be used. The less information the summary contains, the more impact each element will have. There is a delicate balance in making effective use of the prime real estate without overloading it.
    </p>
    <h2>6. Alert</h2>
    <p>
    Messages about the record that need to be seen right away can be shown in an <a href="../../../references/components/alert">alert</a>. These could be system-generated messages triggered by certain criteria being met, or manually-entered notes about the record.
    </p>
    <h2>7. Action bar</h2>
    <p>
    Actions related to the record overall, rather than to the child data shown in tiles, should be in the <a href="../../components/actionbar">action bar</a>. Ideally there would be just a handful of key actions for the record - if you find yourself needing to take many actions from the record page, it is worth re-examining the tasks you are supporting to see if an alternative workflow would be more effective.
    </p>
    <h2>Related patterns</h2>
    <ul>
        <li><a href="../../patterns/important">Highlighting important information</a></li>
    </ul>
</div>
