---
layout: layout-base
order: 1
contribute: false
badges:
  - title: Build status
    img: https://travis-ci.org/blackbaud/skyux.svg?branch=master
    url: https://travis-ci.org/blackbaud/skyux

  - title: Code coverage
    img: https://coveralls.io/repos/blackbaud/skyux/badge.svg?branch=master&service=github
    url: https://coveralls.io/github/blackbaud/skyux?branch=master

  - title: Release version
    img: https://img.shields.io/bower/v/blackbaud-skyux.svg
    url: <%= stache.config.github %>releases

  - title: MIT license
    img: https://img.shields.io/badge/license-MIT-blue.svg
    url: <%= stache.config.github %>blob/master/LICENSE

  - title: Slack
    img: https://blackbaud-skyux-slackin.herokuapp.com/badge.svg
    url: https://blackbaud-skyux-slackin.herokuapp.com/

learn:
  - icon: rocket
    title: Design Principles
    description: The inspiration for <%= stache.config.product_name_short %> is creating the optimal user experience. Check out the components that implement our design patterns and principles.
    url: /design/patterns

  - icon: code
    title: Developer Tools
    description: <%= stache.config.product_name_short %> uses Bootstrap, SASS, and AngularJS to provide the building blocks for your applications. Explore these tools in our library of components.
    url: /javascript

  - icon: github
    title: Contribute
    description: We built <%= stache.config.product_name_short %> for the open source world. You can go to its GitHub repo to follow along with its development and to make your own contributions.
    url: <%= stache.config.github %>

why:
  - icon: gamepad
    animate: fadeInDown
    title: Fun
    description: <%= stache.config.product_name_short %> wears a T-shirt, not a tie. It gets the job done without being stodgy.

  - icon: group
    animate: fadeInDown
    title: Supportive
    description: <%= stache.config.product_name_short %> provides guidance and direction, while still offering flexibility.

  - icon: star #icon: cloud
    animate: fadeInDown
    title: Comfortable
    description: <%= stache.config.product_name_short %> is tailored but not rigid. Like an elastic waist, it grows to fit your needs.

  - icon: binoculars
    animate: fadeInUp
    title: Transparent
    description: What you see is what you get. The constructs in <%= stache.config.product_name_short %> relate directly to real world tasks.

  - icon: tree
    animate: fadeInUp
    title: Natural
    description: The way that users flow through the system should create a sense of confidence in their work.

  - icon: wheelchair
    animate: fadeInUp
    title: Accessible
    description: <%= stache.config.product_name_short %> strives to accommodate users. From the devices people use to their physical capabilities, we care.

slides:
  - img: fenxt.png
    alt: FENXT

  - img: lists.png
    alt: Lists

  - img: renxt.png
    alt: RENXT

  - img: modal.png
    alt: Modal

  - img: workcenter.png
    alt: Workcenter
---

<header class="welcome">
  <div class="text-vertical-center">
    <div class="container">
      <!--
      <div class="center-block skyux-logo-wrapper">
        <h1><img src="assets/img/skyux-logo.svg" alt="Blackbaud Sky UX" class="skyux-logo"/></h1>
      </div>
      -->
      <div class="center-block">
        <h1><img src="assets/img/SKY_UX_Light.png" alt="Blackbaud Sky UX" /></h1>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h2>A user experience framework for building web applications that leverage Blackbaud’s Sky UX patterns.</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="status text-center">
    <div class="container">
      <ul class="list-inline">
        {{# each badges }}
          <li>
            <a href="{{ url }}" target="_blank">
              <img src="{{ img }}" alt="{{ title }}">
            </a>
          </li>
        {{/ each }}
      </ul>
    </div>
  </div>
</header>

<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <img src="/assets/img/renxt.png" class="img-responsive box-shadow-ui-screenshot" alt="RENXT" />
      </div>
      <div class="col-sm-6 col-sm-offset-1">
        <h1>Create a Seamless User Interface</h1>
        <p class="lead">Blackbaud’s next-generation user-experience framework brings a consistent, cohesive experience to Blackbaud’s NXT services, and you can use it to bring that same consistent experience to your customizations and applications.</p>
        <p class="lead">{{ stache.config.product_name_short }} provides an HTML, CSS, and JavaScript framework to implement Blackbaud’s design patterns, along with the guidance to handle visual design and interaction patterns.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="container wow fadeIn" data-wow-delay=".2s">
    <div class="row">
      {{# each learn }}
        <div class="col-sm-4 text-center">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div>
                <span class="fa-stack fa-4x">
                  <i class="fa fa-square fa-stack-2x stacked-grey"></i>
                  <i class="fa fa-{{ icon }} fa-stack-1x text-primary"></i>
                </span>
                <h3>{{ title }}</h3>
                <p>{{ description }}</p>
              </div>
            </div>
          </div>
        </div>
      {{/ each }}
    </div>
  </div>
</section>

<section class="section-padding text-center bg-primary section-padding-carousel">
  <div class="container wow fadeIn" data-wow-delay=".2s">
    <h1>{{ stache.config.product_name_short }} in Action</h1>
    <p class="lead">Blackbaud’s NXT products are already taking advantage of {{ stache.config.product_name_short }}’s design patterns.</p>
    <div ng-controller="InActionController as carousel">
      <uib-carousel interval="carousel.interval">
        {{# each slides }}
          <uib-slide>
            <img ng-src="/assets/img/{{ img }}" class="img-responsive box-shadow" alt="{{ alt }}" />
          </uib-slide>
        {{/ each }}
      </uib-carousel>
    </div>
  </div>
</section>

<section class="section-padding text-center bg-secondary section-why-sky">
  <div class="container">
    <h1 id="why">Why {{ stache.config.product_name_short }}?</h1>
    <div class="row">
      {{# each why }}

        <div class="col-sm-4">
          <div class="{{ animate }} wow" data-wow-delay="{{ multiply @index '.2' }}s">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                  <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x stacked-white"></i>
                    <i class="fa fa-{{ icon }} fa-stack-1x text-primary"></i>
                  </span>
                  <h3>{{ title }}</h3>
                  <p>{{ description }}</p>
              </div>
            </div>
          </div>
        </div>

      {{/ each }}
    </div>
  </div>
</section>
