---
name: Text colors
description: Styling to convey the status of text content.
---

<h1 class="bb-page-heading">Text colors</h1>

<p>While we use the Bootstrap convention for contextual text colors, our guideline is to use only three of the sub-classes as a way to convey the status of the text contents.</p>

<div class="definition-table" style="display: flex; border-bottom: 1px dotted #ccc;">
    <div class="definition-item" style="width: 100px; margin: 10px 10px 10px 0;">
        <p><span class="text-success">Success text</span></p>
    </div>
    <div class="item-properties" style="display: flex; flex-wrap: wrap;">
        <div class="definition-usage" style="flex: 1; width: 200px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Usage</div>
            <p>This is used to convey a good result, such as an appeal donation total that is 10% higher than the goal. It should be used to highlight exceptional data in order to maintain maximum visual and informational impact; if too much text is considered "successful" the stlying will carry less meaning.</p>
        </div>
        <div class="definition-code" style="width: 200px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Code</div>
            <div><code>&lt;span class="text-success"&gt;Success text&lt;/span&gt;</code></div>
        </div>
    </div>
</div>

<div class="definition-table" style="display: flex; border-bottom: 1px dotted #ccc;">
    <div class="definition-item" style="width: 100px; margin: 10px 10px 10px 0;">
        <p><span class="text-warning">Warning text</span></p>
    </div>
    <div class="item-properties" style="display: flex; flex-wrap: wrap;">
        <div class="definition-usage" style="flex: 1; width: 200px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Usage</div>
            <p>This is used when the user should be aware that something is wrong, but they might not need to take immediate action. For example, the due date of a bill that needs to be paid within the next week.</p>
        </div>
        <div class="definition-code" style="width: 200px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Code</div>
            <div><code>&lt;span class="text-warning"&gt;Warning text&lt;/span&gt;</code></div>
        </div>
    </div>
</div>

<div class="definition-table" style="display: flex; border-bottom: 1px dotted #ccc;">
    <div class="definition-item" style="width: 100px; margin: 10px 10px 10px 0;">
        <p><span class="text-danger">Danger text</span></p>
    </div>
    <div class="item-properties" style="display: flex; flex-wrap: wrap;">
        <div class="definition-usage" style="flex: 1; width: 200px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Usage</div>
            <p>This is used when the user must be aware that something is wrong, and they should take immediate action. For example, a bill is past due and needs to be paid now to avoid late fees. These should often be accompanied by other ways of informing a user that something needs attention, such as through a to-do list.</p>
        </div>
        <div class="definition-code" style="width: 200px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Code</div>
            <div><code>&lt;span class="text-danger"&gt;Danger text&lt;/span&gt;</code></div>
        </div>
    </div>
</div>
