.welcome {
  background: rgb(0, 180, 241) url(../img/skyux-background.jpg) no-repeat fixed center 20%;
  background-size: cover;
}

.welcome h2 {
  padding: 0 0 70px 0;
  color: #fff;
}

.skyux-logo {
  max-width: 300px;
}

i.fa.text-primary {
  color: rgb(0, 180, 241);
}

.bg-primary {
  background: rgb(114, 191, 68);
}

.product-carousel {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}
