---
name: Color
description: Base colors
---

<h1 class="bb-text-pageheading">Color</h1>

<p>As a general rule in SkyUX color is used to convey meaning, not as pure decoration. Colors should rarely need to be applied directly to an element; rather, components incorporate color as applicable. If a situation arises where color is needed outside of a component that provides it, there is likely a need for a new component to cover the scenario.</p>

<div class="alert alert-info">Percentage tints are used to lighten or darken these base colors as appropriate.</div>

<h2 class="bb-text-subpageheading">Blue</h2>
<div style="width: 50px; height: 50px; background-color: #1c84c6;"></div>
<code>$bb-color-blue</code>
<div class="bb-text-sectionheading">Usage</div>
<p>Primary or highlighted actions and states.</p>
<div class="bb-text-sectionheading">Styling</div>
<ul>
    <li>Hex: #1c84c6</li>
    <li>RGB: R28, G132, B198</li>
</ul>

<h2 class="bb-text-subpageheading">Green</h2>
<div style="width: 50px; height: 50px; background-color: #1ab394;"></div>
<code>$bb-color-green</code>
<div class="bb-text-sectionheading">Usage</div>
<p>Call out key elements of a page.</p>
<div class="bb-text-sectionheading">Styling</div>
<ul>
    <li>Hex: #1ab394</li>
    <li>RGB: R26, G179, B148</li>
</ul>

<h2 class="bb-text-subpageheading">Aqua</h2>
<div style="width: 50px; height: 50px; background-color: #23c6c8;"></div>
<code>$bb-color-aqua</code>
<div class="bb-text-sectionheading">Usage</div>
<p>Accent color to add visual emphasis where appropriate.</p>
<div class="bb-text-sectionheading">Styling</div>
<ul>
    <li>Hex: #23c6c8</li>
    <li>RGB: R35, G198, B200</li>
</ul>

<h2 class="bb-text-subpageheading">Yellow</h2>
<div style="width: 50px; height: 50px; background-color: #f8ac59;"></div>
<code>$bb-color-yellow</code>
<div class="bb-text-sectionheading">Usage</div>
<p>Accent color to add visual emphasis where appropriate.</p>
<div class="bb-text-sectionheading">Styling</div>
<ul>
    <li>Hex: #f8ac59</li>
    <li>RGB: R248, G172, B89</li>
</ul>

<h2 class="bb-text-subpageheading">Red</h2>
<div style="width: 50px; height: 50px; background-color: #ed5565;"></div>
<code>$bb-color-red</code>
<div class="bb-text-sectionheading">Usage</div>
<p>Accent color to add visual emphasis where appropriate.</p>
<div class="bb-text-sectionheading">Styling</div>
<ul>
    <li>Hex: #ed5565</li>
    <li>RGB: R237, G85, B101</li>
</ul>

<h2 class="bb-text-subpageheading">Dark gray</h2>
<div style="width: 50px; height: 50px; background-color: #292a2b;"></div>
<code>$text-color</code>
<div class="bb-text-sectionheading">Usage</div>
<p>Base font color.</p>
<div class="bb-text-sectionheading">Styling</div>
<ul>
    <li>Hex: #292a2b</li>
    <li>RGB: R41, G42, B43</li>
</ul>