---
layout: layout-sidebar
order: 4
name: Page header
description: "Page header blurb..."
---

<h1>{{ name }}</h1>

<div class="bb-text-block">
    <p>
    Every page will contain the omnibar and navigation. An optional page summary can be used when appropriate. 
    </p>
    <div class="page-example"><img src="/assets/img/patterns/page header.png" /></div>
    <h2>1. Omnibar</h2>
    <p>
    The <a href="">omnibar</a> contains the product identifier and global actions the user may want to perform.
    </p>
    <h2>2. Navigation</h2>
    <p>
    The <a href="../../components/navbar">navigation bar</a> contains primary and secondary navigation links. 
    </p>
    <h2>3. Page summary</h2>
    <p>
    Depending on the type of page there may be important information to show in a <a href="../page-summary/">page summary</a>.
    </p>
</div>