<?xml version="1.0"?>
<!-- Web.Config Configuration File -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="SKY UX CDN" stopProcessing="true">
          <match url="^sky-dist/v(.*)" />
          <action type="Redirect" url="https://sky.blackbaudcdn.net/skyux/{R:1}" />
        </rule>
        <rule name="removed-getting-started" stopProcessing="true">
          <match url="^getting-started(.*)" />
          <action type="Redirect" url="/" />
        </rule>
        <rule name="removed-documentation" stopProcessing="true">
          <match url="^documentation(.*)" />
          <action type="Redirect" url="/" />
        </rule>
        <rule name="removed-blog" stopProcessing="true">
          <match url="^blog(.*)" />
          <action type="Redirect" url="/" />
        </rule>
      </rules>
    </rewrite>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"  />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-woff2" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <!--
          This removes the session affinity cookie that's unneeded for this static site.
          https://azure.microsoft.com/en-us/blog/disabling-arrs-instance-affinity-in-windows-azure-web-sites/
        -->
        <add name="Arr-Disable-Session-Affinity" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
