---
layout: layout-container
description: "Components are AngularJS directives, services, and modules that allow developers to easily create SKY UX user interfaces that incorporate its styles and patterns."
order: 3
---
<div class="header-with-button">
  <h1>Components</h1>
  <ul class="header-button list-inline">
    <li ng-controller="DocumentationController as documentation">
      <button type="button" class="btn btn-primary" ng-click="documentation.editInPlunker('.raw-markup', '.raw-js', '{{ stache.config.latest_sky_release }}')">
        Create New Plunker
      </button>
    </li>
  </ul>
</div>

<p class="lead">{{ stache.config.product_name_short }} components, available as AngularJS directives, services, and modules, allow developers to easily create user interfaces that incorporate our styles and patterns.  <a href="http://angularjs.com" target="_blank">AngularJS</a> and <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> are at the heart of {{ stache.config.product_name_short }}, so it is important you are familiar with these before you get started.</p>

<div class="demo" ng-controller="DirectivesController as directives">
  <p><input
    type="text"
    class="form-control input-lg"
    placeholder="Find a component"
    ng-model="directives.query"
    ng-keyup="directives.search()"
    bb-autofocus></p>

  <div ng-show="directives.query" ng-cloak>
    <p>
      <a href="#" ng-click="directives.clear()" class="header-button">
        <h3>
          <i class="fa fa-times"></i>
          Filtering for
          <span ng-bind="directives.query"></span>
        </h3>
      </a>
    </p>

    <div ng-show="directives.query && directives.matchCount === 0">
      <h3>No matches.</h3>
    </div>
  </div>

  <div class="showcase row equal" ng-class="{ 'has-query': directives.query !== '' }">
    {{# eachChildLink mod=3 }}
      <div class="col-lg-4 col-md-6 panel-col">
        <a href="{{ uri }}" class="panel-wrapper">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                {{ name }}
                {{# if deprecated }}
                  <span class="label label-danger pull-right">Deprecated</span>
                {{/ if }}
              </h3>
            </div>
            <div class="panel-body">
              {{# if icon }}
                <i class="showcase-icon fa fa-2x fa-{{ icon }}"></i>
                <div class="showcase-desc">
              {{/ if }}
              {{# if summary }}
                <p>{{ summary }}</p>
              {{ else }}
                {{# if synopsis }}
                  <p>{{ synopsis }}</p>
                {{ else }}
                  {{# if description }}
                    <p>{{ description }}</p>
                  {{/ if }}
                {{/ if }}
              {{/ if}}
              {{# if icon }}
                </div>
              {{/ if }}
            </div>
          </div>
        </a>
      </div>
    {{/ eachChildLink }}
  </div>

</div>

<textarea class="hide raw-markup" ng-non-bindable>&lt;div ng-controller="TestController"&gt;
<!-- ENTER HTML HERE -->
&lt;/div&gt;
</textarea>
<textarea class="hide raw-js">/*global angular, alert*/
(function () {
    &#039;use strict&#039;;
    angular
    .module(&#039;stache&#039;)
    .controller(&#039;TestController&#039;, [&#039;$scope&#039;, function ($scope) {
        // Enter Controller Logic Here
    }]);
  }());
</textarea>
