---
layout: layout-sidebar
order: 17
name: Tabbed page
---

<h1>{{ name }}</h1>

<div class="bb-text-block">
    <div class="page-example"><img src="/assets/img/patterns/tabbed page.png" /></div>
    <h2>Tabs</h2>
    <p>
    The <a href="../../components/tabset">tabs</a> provide access to different types of content on the page.
    </p>
    <h2>Content</h2>
    <p>
    The content accessed via the tabs is arbitrary. There are a couple common uses:
    </p>
    <ul>
        <li>A set of pre-filtered views of a common underlying list</li>
        <li>Workcenters, where tabs represent different tasks a user in a particular role frequently performs</li>
    </ul>
</div>