<h1 class="bb-page-heading">{{ name }}</h1>

<p>While we use the Bootstrap convention for contextual text colors, our guideline is to use only three of the sub-classes as a way to convey the status of the text contents.</p>

{{ include 'includes/design-table.hbs' }}
