---
name: Text Colors
icon: paint-brush
description: The text color components provide styling to highlight the status of text content.
layout: layout-container
items:
  - name: Success text
    usage: Success text conveys a good result such as an appeal donation total that exceeds the goal. It should only highlight exceptional data to maximize its visual and informational impact. If you use too much success text, it carries less weight.
    code: <span class="text-success">Success text</span>

  - name: Warning text
    usage: Warning text conveys that something is wrong but does not require immediate action. For example, warning text can highlight the due date of a bill that needs to be paid within the next week.
    code: <span class="text-warning">Warning text</span>

  - name: Danger text
    usage: Danger text conveys that something is wrong and requires immediate action. For example, danger text can highlight a bill that is past due and must be paid immediately to avoid late fees. Danger text should accompany other ways to inform users that something requires attention, such as to-do lists.
    code: <span class="text-danger">Danger text</span>
---

<bb-alert bb-alert-type="warning">This site describes <a href="https://angularjs.org/">the AngularJS (1.x) implementation</a> of the SKY UX framework. We still support this version, but it is in maintenance mode. We no longer develop features for this version, and we recommend the latest version of SKY UX instead. For more information, see <a href="https://developer.blackbaud.com/skyux">developer.blackbaud.com/skyux</a>.</bb-alert>

<h1 class="bb-page-heading">{{ name }}</h1>

<p>{{ stache.config.product_name_short }} uses the Bootstrap convention for contextual text colors, but it only uses three sub-classes to convey the status of text contents.</p>

{{ include 'includes/design-table.hbs' }}
