---
name: Buttons
description: Buttons for use in different contexts. 
---

<h1 class="bb-page-heading">Buttons</h1>

<p>Our button guidelines use a mix of Bootstrap and custom button classes, and are condensed compared to what's available in Bootstrap.</p>

<div class="definition-table" style="display: flex; border-bottom: 1px dotted #ccc;">
    <div class="definition-item" style="width: 100px; flex-shrink: 0; margin: 10px 10px 10px 0;">
        <div class="btn btn-primary">Primary</div>
    </div>
    <div class="item-properties" style="display: flex; flex-wrap: wrap;">
        <div class="definition-usage" style="max-width: 400px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Usage</div>
            <p>This is used to trigger the most important or most commonly-used action on a page, which takes place in the context of the current page. As a general rule there should only be one primary button per page to ensure that it draws the user's attention.</p>
        </div>
        <div class="definition-code" style="max-width: 400px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Code</div>
            <div><code>&lt;div class="btn btn-primary"&gt;Primary&lt;/div&gt;</code></div>
        </div>
    </div>
</div>

<div class="definition-table" style="display: flex; border-bottom: 1px dotted #ccc;">
    <div class="definition-item" style="width: 100px; flex-shrink: 0; margin: 10px 10px 10px 0;">
        <div class="btn bb-btn-secondary">Secondary</div>
    </div>
    <div class="item-properties" style="display: flex; flex-wrap: wrap;">
        <div class="definition-usage" style="max-width: 400px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Usage</div>
            <p>These are used for actions that are less important or less commonly needed, and that take place in the context of the current page. Since they are not always relevant, their visual weight is lower such that they are noticeable if needed but not attention-drawing.</p>
        </div>
        <div class="definition-code" style="max-width: 400px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Code</div>
            <div><code>&lt;div class="btn bb-btn-secondary"&gt;Secondary&lt;/div&gt;</code></div>
        </div>
    </div>
</div>

<div class="definition-table" style="display: flex; border-bottom: 1px dotted #ccc;">
    <div class="definition-item" style="width: 100px; flex-shrink: 0; margin: 10px 10px 10px 0;">
        <div class="btn btn-link">Link button</div>
    </div>
    <div class="item-properties" style="display: flex; flex-wrap: wrap;">
        <div class="definition-usage" style="max-width: 400px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Usage</div>
            <p>There are two major use cases for link buttons. First, they are used for actions that will take the user to another page. Second, they are used for actions that drop the user out of a task, such as a Cancel button.</p>
        </div>
        <div class="definition-code" style="max-width: 400px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Code</div>
            <div><code>&lt;div class="btn btn-link"&gt;Link button&lt;/div&gt;</code></div>
        </div>
    </div>
</div>

<div class="definition-table" style="display: flex; border-bottom: 1px dotted #ccc;">
    <div class="definition-item" style="width: 100px; flex-shrink: 0; margin: 10px 10px 10px 0;">
        <div class="btn bb-btn-link-inline">Inline link</div>
    </div>
    <div class="item-properties" style="display: flex; flex-wrap: wrap;">
        <div class="definition-usage" style="max-width: 400px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Usage</div>
            <p>These have similar usage to link buttons, with altered styling to fit inline.</p>
        </div>
        <div class="definition-code" style="max-width: 400px; margin: 10px 10px 10px 0;">
            <div class="bb-field-label">Code</div>
            <div><code>&lt;div class="btn bb-btn-link-inline"&gt;Inline link&lt;/div&gt;</code></div>
        </div>
    </div>
</div>
